.scrollbar {
  scrollbar-width: thin;

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsla(337, 3%, 50%, 0.5);
    border-radius: 9999px;
  }
}

.prose {
  code {
    padding: 4px !important;
  }
  pre code {
    padding: 0 !important;
  }
}
