---
import {getCollection} from 'astro:content'

import {Title, Navigation, LittleCubes, BlogListWithSearch} from '~/components'
import BaseHead from '../../components/base-head.astro'
import {SITE_DESCRIPTION} from '../../constants'

const posts = (await getCollection('blog'))
  .filter((post) => process.env.NODE_ENV === 'development' || post.data.published !== false)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => ({...post.data, slug: post.slug as string}))
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead type="website" title="Zach's Blog" />
  </head>

  <body>
    <LittleCubes />
    <Navigation />

    <main class="max-w-6xl mx-auto">
      <div class="mx-6 mt-24 mb-12 md:mb-24">
        <Title>Zach's Blog</Title>
      </div>

      <BlogListWithSearch postUrlPrefix="/blog" posts={posts} alwaysShowCardOverlay client:load />
    </main>
  </body>
</html>
