@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal: #67fcf1;
  --teal-dark: #4ca29f;
  --teal-soft: #67fcf237;
  --hot-pink: #ff54c2;
  --navy: #1f2833;
  --navy-dark: #0b0c10;
  --off-white: #f4f4f4;
  --off-white-dark: #c5c6c7;
  --topaz: #22499b;
  --topaz-dark: #19346d;
  --thunderbird: #b33c19;

  --color-bg-primary: var(--navy);
  --color-bg-primary-dark: var(--navy-dark);
  --color-text-primary: var(--teal);
  --color-text-primary-dark: var(--teal-dark);
  --color-text-secondary: var(--hot-pink);
  --color-text-base: #cbd5e1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: var(--off-white);
    --color-bg-primary-dark: var(--off-white-dark);
    --color-text-primary: var(--topaz);
    --color-text-primary-dark: var(--topaz-dark);
    --color-text-secondary: var(--thunderbird);
    --color-text-base: #334155;
  }
}

html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  background-color: var(--color-bg-primary);
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }

  a {
    @apply text-blue-600 font-bold dark:text-blue-300 hover:underline;
  }
}

@layer utilities {
  .max-w-text {
    /* @apply max-w-5xl; */
    max-width: 70ch;
  }

  .text-wrapper {
    @apply max-w-text text-left flex flex-col gap-8 mx-auto;
  }
}

*:focus {
  outline: 2px solid blue;
  outline: 2px solid -webkit-focus-ring-color;
}

/* Suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}

@font-face {
  font-family: 'LeagueMono';
  src: url('/fonts/league-mono/LeagueMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'LeagueMono';
  src: url('/fonts/league-mono/LeagueMono-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'LeagueMono';
  src: url('/fonts/league-mono/LeagueMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'LeagueMono';
  src: url('/fonts/league-mono/LeagueMono-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
