---
import {Navigation} from '~/components'
import BaseHead from '../components/base-head.astro'
import {SITE_DESCRIPTION} from '../constants'
import {
  DesignCredit,
  MiniBio,
  OtherInterests,
  JobHistory,
  Technologies,
  Jumbotron,
} from '~/page-components'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      type="profile"
      title="Zach Olivare"
      description={SITE_DESCRIPTION}
      title="Zach's Blog"
      description="UI architect with fullstack experience, UX Advocate"
      src="/images/zach-square.jpg"
    />
  </head>
  <body>
    <Navigation forceWhiteGlow />

    <header>
      <Jumbotron className="relative z-10" />
    </header>

    <main class="relative text-slate-600 dark:text-slate-600">
      <MiniBio />
      <JobHistory />
      <Technologies />
      <OtherInterests client:visible />
      <DesignCredit />
    </main>
  </body>
</html>
