---
import BaseHead from '../components/BaseHead.astro'
import SocialMediaPreview from '../components/social-media-preview.astro'
import {SITE_DESCRIPTION} from '../constants'
import {
  DesignCredit,
  Jumbotron,
  MiniBio,
  OtherInterests,
  ProjectDisplay,
  Technologies,
  Navigation,
} from '~/page-components'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Zach Olivare" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navigation forceWhiteGlow />

    <header>
      <Jumbotron className="relative z-10" />
    </header>

    <SocialMediaPreview
      type="profile"
      title="Zach's Blog"
      description="Frontend architect with backend experience"
    />

    <main class="relative text-slate-600 dark:text-slate-600">
      <MiniBio />
      <ProjectDisplay />
      <Technologies />
      <OtherInterests client:visible />
      <DesignCredit />
    </main>
  </body>
</html>
