---
import {getCollection} from 'astro:content'

import {Navigation, LittleCubes, Title, BlogListWithSearch} from '~/components'
import BaseHead from '../../components/base-head.astro'
import {SITE_DESCRIPTION} from '../../constants'

const posts = (await getCollection('recipes'))
  .filter(() => process.env.NODE_ENV === 'development')
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => ({...post.data, slug: post.slug as string}))
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Zach's Cookbook" description={SITE_DESCRIPTION} />
  </head>

  <body>
    <LittleCubes />
    <Navigation />

    <main class="max-w-6xl mx-auto">
      <div class="mx-6 mt-24 mb-12 md:mb-24">
        <Title>Zach's Cookbook</Title>
      </div>

      <BlogListWithSearch postUrlPrefix="/cooking" posts={posts} />
    </main>
  </body>
</html>
